@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;900&family=Quattrocento:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  border: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

body {
  font-family: "Jost", sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: "Quattrocento", serif;
  color: #fff;
}
